* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common styles */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    border: 1px solid #30B868;
    color: #30B868;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 58px;
}

.common-text {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 20px;
}


/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.navbar ul {
    display: flex;
    gap: 32px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.navbar button:hover {
    border: 1px solid #30B868;
    color: #30B868;
}


/* banner section */
.banner {
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 154px 341px 179px 341px;
}

.banner-container {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

.banner-access {
    display: flex;
    align-items: center;
    background-color: white;
    color: #30B868;
    padding: 8px 12px;
    max-width: 230px;
    margin: 0 auto;
    border-radius: 50px;
}

.banner-access img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.banner-access h4 {
    font-size: 16px;
    font-weight: 500;
}

.banner-titles {
    padding: 16px 0px;
}

.banner-titles h2 {
    font-size: 72px;
    font-weight: 700;
    color: white;
}

.banner-titles h3 {
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
}

.banner-container p {
    max-width: 681px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: white;
    padding-bottom: 32px;
}

.banner-container button {
    padding: 16px;
}

.banner-btn {
    background: transparent;
    border: 1px solid white;
    margin-left: 16px;
}

.banner-btn:hover {
    border: 1px solid #30B868;
    color: #30B868;
}



/* Notes section */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    text-align: center;
}

.card {
    flex: 1;
    box-shadow: 0px 0px 8px 0px #0000000f;
    border-radius: 8px 8px 0px 0px;
    padding: 24px 24px 0px 24px;
}

.card img {
    background-color: #f95555;
    padding: 14px;
    margin-top: 45px;
    border-radius: 50px;
}

.card h3 {
    padding: 16px 0px;
}

.card p {
    padding-bottom: 21.5px;
}



/* second brain section */
.second-brain{
    display: flex;
    gap: 60px;
    padding: 120px 0px;
}

.second-brain img{
    max-width: 600px;
    max-height: 600px;
}

.second-brain-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-brain-info h4{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

.second-brain-info div{
    padding: 16px 0px;
}

.second-brain-info p{
    max-width: 452px;
    text-align: left;
}

.tick{
    display: flex;
    gap: 6px;
    align-items: center;
}